/*==========  Desktop First Method  ==========*/
/*COLORS:*/
@btn-hvr: #358333;
@hdr-bg-clr: #00acac;
@btn-clr: #4ab848;
@mr-clr: #cbe8e8;
@asd-clr: #ecf7f7;
@hdr-clr: #f7f7f7;
@fa-clr: #c1c1c1;
@mn-brdr: #009a9a;
@mn-lnk-act: #028e8e;
@frm-bg: #ecf7f7;
@frm-clr: #dadada;
@bnr-clr: #a8b9c6;
@lst-clr: #d9e9e9;
@lst-font: #415959;
@ftr-hvr: #3e7ed6;
@ftr-clr: #2b2b2b;
@ftr-brdr: #4d4d4d;
@ftr-font: #7e7e7e;
@lg-clr: #bfbfbf;
@wh: #fff;
@bl: #000;


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header .container {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.top-hdr-wrapper .btn-group {
			padding-right: 10px;
	}
	.bottom-header-menu {
		margin-left: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.lang-dropdown-wrapper.right.top-hdr-wrapper {
		float: right;
	}

	header .container, main .container,
	header .row, main .row,
	col-lg-12, col-md-12, col-sm-12, col-xs-11 {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	main {
		clear: both;
	}
	
	div.carousel-wrapper{
		width: 100%;
	}

	main .container {
		margin: 0 auto;
	}

	main {
		padding: 0;
	}
	
	.article-wrapper {
		width: 91%;
		margin-left: 7%;
	}

	.aside-wrapper {
		width: 100%;
	}

	.footer-top nav {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 40%;
	}
}


@media only screen and (max-width : 800px) {
	main aside {
		clear: both;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 750px) {

	h1 {
		font-size: 2.4em;
	}

	.secret-aside.visible-xs {
		padding: 0;
	}

	main .container {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.article-container {
		padding-top: 30px;
	}

	.lang-dropdown-wrapper.top-hdr-wrapper {
		padding-right: 20px;
		margin: 0 auto;
	}

	ul.dropdown-menu {
		height: 100%;
	}

	.logo-wrapper.top-hdr-wrapper {
		padding-left: 30px;
	}

	.top-hdr-wrapper {
		padding: 0;
		height: 100%;
	}

	footer-bottom {
		height: 215px;
		display: inline-block;
		width: 100%;
	}

	section.bottom-section h2 {
		font-size: 1.8em;
	}

	nav.col-lg-4.col-md-4 {
		width: 100%;
		height: 100%;
		float: none;
	}

	.footer-bottom-container {
		border-color: @ftr-brdr;
		height: 122px;
	}

	.lang-dropdown-wrapper button.dropdown-toggle {
		padding-right: 20px;
		height: 50px;
	}	
	
	main .secret-aside span {
		background-position: 15px center;
	}
	.squares {
		width: 98%;
	}
	
	.logo-wrapper.top-hdr-wrapper img, nav.sm-menu button,
	header div.top-header {
		height: 50px;
	}

}


@media only screen and (max-width : 600px) {
	main .secret-aside span {
		background-position: 19px center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	main .secret-aside span {
		width: 100%;
		background-position: 6px center;
	}

	main .secret-aside {
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.25);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.25);
		box-shadow:  0px 2px 5px 0px rgba(0,0,0,.25);
		height: 2887px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.logo-wrapper.top-hdr-wrapper img {
		height: 36px;
	}
	
	header div.top-header {
		height: 36px;
	}
	
	.square-container {
		width: 92%;
		margin: 3%;
		float: none;
		margin: 14px auto;	
	}
	section.bottom-section span.hidden {
		display: inline-block;
	}

	section.bottom-section {
		background-image:url('../img/bottom_section_bg_xs.jpg');
		min-height: 982px;
		background-position: center center;
	}


	main .secret-aside span {
		width: 100%;
		background-position: 10px center;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}